.sketch-card {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 3em;
  justify-content: center;
}
.sketch-wrap:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.sketch-thumbnail {
  max-width: 280px;
  height: 200px;
  border-radius: 0.3rem;
  background-color: aliceblue;
}
