/* COLORS: G #205A31 P #b55d84 B #3c4993 y #E1DA79 */

:root {
  --green: #205a31;
  --pink: #b55d84;
  --mauve: #b07c6d;
  --blue: #3c4993;
  --purple: #917d7c;
  --grey: #455a64;
  --yellow: #e1da79;
  --yellow: #d6b084;
  --alice: aliceblue;
  --dark: #353746;
  --brown: #32160d;
}

.Canvas {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.App {
  text-align: center;
  /* background-image: linear-gradient(var(--alice), var(--pink)); */
  background-color: var(--mauve);
  color: var(--yellow);
}

button:hover {
  cursor: pointer;
}
