.canvas {
  /* border-radius: 0.8rem 0rem 0rem 0.8rem; */
}
canvas {
  background-color: var(--alice);
}

.canvas-container {
  display: flex;
  justify-content: center;
}

.control-panel {
  display: grid;
  border-right: black solid;
  border-radius: 0rem 0.8rem 0rem 0rem;
  grid-template-rows: 1fr 1fr 1fr 1fr 5.5fr;
}

.ctn-btn-top {
  border-radius: 0rem 0.8rem 0rem 0rem;
}
.ctn-btn {
  padding-top: 0px;
  padding-bottom: 0px;
  /* border-right: black solid; */
  border-bottom: black solid;
  max-width: 52px;
  background-image: none,
    linear-gradient(to bottom, rgba(240, 40, 40, 0) 90%, black 100%);
}

.ctn-btn-bottom {
  border: none;
  /* border-right: black solid; */
  border-bottom: black solid;
  max-width: 36px;
  padding: 8px;
  background-image: linear-gradient(
      to bottom,
      rgba(240, 40, 40, 0) 0%,
      rgba(240, 40, 40, 0) 100%
    ),
    linear-gradient(to bottom, rgba(240, 40, 40, 0) 80%, black 100%);
  background-clip: content-box, padding-box;
}
.ctn-btn:hover {
  background-image: none,
    linear-gradient(to bottom, rgba(240, 40, 40, 0) 80%, black 100%);
  background-color: var(--yellow);
}
/* .ctn-btn-bottom:hover {
  background-image: linear-gradient(
      to bottom,
      rgba(240, 40, 40, 0) 80%,
      black 100%
    ),
    linear-gradient(
      to bottom,
      rgba(240, 40, 40, 0) 0%,
      rgba(240, 40, 40, 0) 100%
    );
} */

.ctn-empty-space {
  background-color: black;
  /* background-image: url(cherry.png); */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 1, 0.5);
}

.color-picker {
  max-width: 5px;
}

.home-page-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.prompt-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.color-square {
  width: 50px;
  height: 50px;
  color: transparent;
}
.color-square:hover {
  transform: scale(1.04);
}

.tool {
  max-width: 52px;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.tool:hover {
  background-color: var(--blue);
}

.canvas-div {
  margin: 2%;
}

.chat-box {
  border: 1pt solid black;
  border-bottom: none;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 7%;
  overflow-y: scroll;
  background-color: #dee1e530;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 4px 12px;
}

.chat-list {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
}
.chat-user {
  justify-content: flex-start;
}
.chat-msg {
  justify-content: flex-end;
}

.lbl {
  position: absolute;
  margin-top: 0.8%;
  margin-left: 2%;
  color: aliceblue;
  background-color: var(--dark);
  border: 1px solid grey;
  padding-left: 0.4%;
  padding-right: 0.4%;
  padding-bottom: 0.3%;
  border-radius: 0.35rem;
  display: none;
}

.ch-undo:hover ~ .lbl {
  display: inline;
}
.ch-save:hover ~ .lbl {
  display: inline;
}
.ch-tool:hover ~ .lbl {
  display: inline;
}
.ch-color:hover ~ .lbl {
  display: inline;
}
.ctn-div {
  background-image: linear-gradient(
      to bottom,
      rgba(240, 40, 40, 0) 80%,
      black 100%
    ),
    linear-gradient(to bottom, rgba(240, 40, 40, 0) 90%, black 100%);
}
