#friend-list,
#request-list {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #eee;
  list-style-type: none;
  text-align: left;
}

#friend-list {
  border-radius: 0.3rem;
}

.friend {
  width: 100%;
  height: 60px;
  background: var(--alice);
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--blue);
}

.friend-img {
  width: 45px;
  height: 45px;
  border-radius: 30px;
  border: 2px solid var(--blue);
  object-fit: cover;
  margin-left: 5px;
  margin-right: 10px;
}

.friend-img:hover {
  transform: scale(1.03);
}

.friend .name {
  font-size: 18px;
}

.friend:not(.selected):hover {
  background: rgb(213, 220, 241);
}

.friend-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.friend-btn-div {
  justify-self: flex-end;
  column-gap: 50%;
}

.friend-btn {
  float: right;
}

.li-tit {
  color: black;
  padding: 2%;
  border-radius: 1rem;
}

.friend-container {
  margin-left: 5%;
}
