/*  */

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  /* background-image: url(zen.png); */
  border: 10px solid var(--grey);
  border-top: 10px solid var(--dark);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spinner 1.3s linear infinite;
}

.spinner-container {
  display: grid;
  position: absolute;
  top: 350px;
  left: 44%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .spinner-container {
    top: 320px;
    left: 40%;
  }
}
@media screen and (min-width: 1350px) {
  .spinner-container {
    top: 380px;
    /* left: 45%; */
  }
}
@media screen and (min-width: 1350px) {
  .spinner-container {
    top: 400px;
    left: 46%;
  }
}

.sketch-sent-text {
  color: black;
  font-style: italic;
  letter-spacing: 2px;
  /* background-color: rgba(240, 248, 255, 0.264); */
  height: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 20px;
  font-size: large;
}

/* new stuff */
/* even newer stuff! */
