@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  /* background-image: url(zen.png); */
  width: 120px;
  height: 120px;
  border-radius: 50%;
  animation: spinner 1.3s linear infinite;
}

.spinner-container {
  display: grid;
  position: fixed;
  top: 30%;
  left: 45%;
  justify-content: center;
  align-items: center;
  height: 350px;
}
