a.preButton {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid var(--dark);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--yellow);
  text-align: center;
  transition: all 0.2s;
  height: 36px;
  width: 85px;
}
a.preButton:hover {
  color: #000000;
  background-color: var(--yellow);
  cursor: pointer;
}

.home-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 5000;
  padding-top: 2%;
  font-size: 4.5vw;
  margin-top: 0;
  padding-top: 0;
  line-height: 1;
  color: #ffeba7;
  text-align: center;
  -webkit-text-stroke: 2px var(--yellow);
  color: transparent;
  margin-bottom: 0;
}

.welcome-msg {
  padding-top: 2%;
  font-size: larger;
}

.home-top {
  background-color: var(--blue);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-body {
  padding-top: 3%;
  background-color: #b3b3b3;
  /* background-image: url(test_background.webp); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pre,
.register,
.signin {
  background-image: url(dandelionStart2.gif);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 20%;
}

/* body styling for pages */

.prompt-pg,
.home-pg,
.explore-pg,
.sketches-pg {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home-pg {
  background-color: #b3b3b3;
}

.explore-title {
  background-color: var(--green);
  margin-bottom: 8%;
}

@media screen and (max-width: 1150px) {
  .home-page-grid {
    display: flex;
    flex-direction: column-reverse;
  }
  .friend-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%;
    width: 90%;
  }
  .friend {
    grid-template-columns: 1fr 8fr 2fr;
  }
}

.home-page-grid {
  background-image: linear-gradient(#b3b3b3 90%, var(--pink));
}

.display-text {
  background-color: var(--green);
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 0 0.8rem 0 0;
  margin: 0 auto;
  width: 755px;
  height: 20px;
  font-size: larger;
  letter-spacing: 0.2rem;
  padding-bottom: 5px;
  font-style: italic;
}
