@tailwind base;
@tailwind components;
@tailwind utilites;

:root {
  --green: #205a31;
  --pink: #b55d84;
  --mauve: #b07c6d;
  --blue: #3c4993;
  --purple: #917d7c;
  --grey: #b3b3b3;
  --yellow: #e1da79;
  --yellow: #d6b084;
  --alice: aliceblue;
  --dark: #353746;
  --brown: #32160d;
}
html {
  height: 100%;
}
.Canvas {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.App {
  text-align: center;
  background-color: var(--mauve);
  color: var(--yellow);
  font-family: Neucha, sans-serif;
}

button:hover {
  cursor: pointer;
}

.input-wrapper {
  margin-bottom: 2px;
}
.input-wrapper-last {
  margin-bottom: 15px;
}

.reg-input {
  border-radius: 0.25rem;
  border: #6977bb;
  height: 25px;
  margin: 0.6%;
  width: 65%;
}

.signin-col-ch {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
  background-color: #dee1e530;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 20px;
}

.reg-title {
  margin-top: 0%;
}

.login-title {
  padding-top: 15%;
}

/* CSS */
.button-55 {
  align-self: center;
  background-color: rgba(240, 248, 255, 0.322);
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  /* background-size: 4px 3px; */
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  /* box-sizing: border-box; */
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  margin: 5%;
  /* padding: 0.75rem; */
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.submit-btn {
  margin: 1.2%;
}

.friend-btn {
  padding: 0;
  margin: 0;
}
