.canvas {
  border-radius: 0.8rem 0rem 0rem 0.8rem;
}
canvas {
  background-color: var(--alice);
}

.canvas-container {
  display: flex;
  justify-content: center;
}

.control-panel {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 5.5fr;
}

.ctn-btn-top,
.ctn-btn-bottom {
  border: none;
}

.ctn-btn-top {
  border-radius: 0rem 0.8rem 0rem 0rem;
}
.ctn-btn {
  border-left: none;
  border-right: none;
}

.ctn-btn:hover {
  background-color: var(--yellow);
}

.ctn-empty-space {
  background-color: var(--blue);
}

.color-picker {
  max-width: 5px;
}

.home-page-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
